/* App.css */
.body-forget {
  display: flex;
  height: 100%;
}

.container-forget {
  max-width: 600px;
  width: 100%;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
}

.text-forget {
  color: #777;
}

hr {
  margin: 16px 0;
  border: 1px solid #e0e0e0;
}

.label-forget {
  display: block;
  margin-top: 16px;
}

.label-text-forget {
  color: #777;
}

.input-forget {
  margin-top: 8px;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
}

.input-forget:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.25);
  outline: none;
}
.error-message {
  color: #dc3545;
  margin-top: 8px;
}
.button-container-forget {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.update-button-forget {
  background-color: #dc3545;
}

.update-button-forget:hover {
  background-color: #c82333;
}

/* Modal Styles */
.modal-successpassword {
  width: 50%; /* You can adjust the width as needed */
  margin: auto;
  padding: 40px;
  background-color: white;
  border: 4px solid #ec103f; /* Red border */
  border-radius: 8px;
  text-align: center; /* Center text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.modal-successpassword h2 {
  color: #ec103f; /* Red text */
  font-weight: 600;
  font-size: 1.5rem; /* Adjust the font size to match your design */
}

.modal-confirmpassword {
  background-color: #ec103f;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-confirmpassword:hover {
  background-color: #bf0d32; /* Slightly darker red on hover */
}

/* Modal Overlay */
.modal-overlaypassword {
  background-color: rgba(0, 0, 0, 0.4); /* Dimmed background when modal is open */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}