.userOrder-card {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
}
.userOrder-card-dark {
}
.userOrder-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.userOrder-header span:first-child {
}
.userOrder-header span:last-child {
  color: #f56565;
  font-weight: bold;
}
.userOrder-content {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.userOrder-content img {
  margin-right: 16px;
  border-radius: 8px;
}
.userOrder-content h3 {
  color: #f56565;
}
.userOrder-content p {
  color: #718096;
}
.userOrder-price {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-weight: bold;
}
.userOrder-button-container {
  display: flex;
  justify-content: flex-end;;
  margin-top: 16px;
}
.userOrder-button {
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
 
}
.userOrder-button-secondary {
  background-color: #e2e8f0;
  color: #2d3748;
}
.userOrder-button-secondary:hover {
  background-color: #cbd5e0;
}
.userOrder-button-red {
  border: 2px solid #f56565;
  color: #f56565;
}
.userOrder-button-red:hover {
  background-color: #f56565;
  color: white;
}
/* Modal overlay and content */
.UserOrder-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.UserOrder-modal-content {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Close button */
.UserOrder-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Header */
.UserOrder-modal-header h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

/* Modal Body */
.UserOrder-modal-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

/* Info Section */
.UserOrder-modal-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.UserOrder-info-section {
  width: 48%;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.UserOrder-info-item {
  margin-bottom: 10px;
}

.UserOrder-info-item strong {
  color: #333;
  font-weight: 600;
}

/* Order Items */
.UserOrder-modal-items {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.UserOrder-order-items-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.UserOrder-order-items-container.scroll {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

.UserOrder-order-item {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.UserOrder-order-item-img {
  border-radius: 8px;
}

.UserOrder-order-item-info {
  margin-left: 20px;
}

.UserOrder-order-item-info h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.UserOrder-order-item-info p {
  margin: 5px 0;
  color: #555;
}

h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}
