.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #121212;
  color: #ffffff;
}
.banner-container {
  width: 100%;
}
.banner-container-1 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.banner {
  width: 100%;
}
.avatar {
  /* max-width: 568px;
  max-height: 533px; */
  padding: 10px;
}
.text-line {
  display: flex;
  flex-direction: column;
  width: 520px;
}
.banner-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-avatar-1 {
  font-size: 60px;
  font-weight: 600px;
  font-family: "Assistant", sans-serif;
}
.text-avatar {
}
.text-product {
  font-size: 20px;
  font-family: "Assistant", sans-serif;
}
.picture-product {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.input-container-email {
  width: 571px;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.input-email {
  width: 571px;
  height: 54px;
  border: 1px solid #888888;
  font-size: 20px;
  display: flex;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 571px;
  height: 54px;
  position: relative;
}
.input-container #icon {
  position: absolute;
  left: 540px;
  bottom: 20px;
}

.button-submit {
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
.messenger-icon {
  position: fixed;
  bottom: 20px; /* Khoảng cách từ dưới lên */
  right: 20px; /* Khoảng cách từ bên phải qua */
  background-color: #0084ff;
  color: white;
  font-size: 40px; /* Kích thước của icon */
  padding: 10px;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  width: 70px; /* Kích thước chiều rộng cố định */
  height: 70px; /* Kích thước chiều cao cố định */
}

.messenger-icon:hover {
  background-color: #006dbf;
  cursor: pointer;
}
@media (max-width: 768px) {
  .messenger-icon {
    width: 60px; /* Giảm kích thước icon */
    height: 60px;
    font-size: 30px; /* Giảm kích thước chữ/icon */
    bottom: 15px; /* Điều chỉnh khoảng cách từ dưới lên */
    right: 15px; /* Điều chỉnh khoảng cách từ bên phải qua */
  }
}

/* Responsive cho màn hình nhỏ hơn 480px (điện thoại) */
@media (max-width: 480px) {
  .messenger-icon {
    width: 50px; /* Giảm kích thước icon */
    height: 50px;
    font-size: 25px; /* Giảm kích thước chữ/icon */
    bottom: 10px; /* Điều chỉnh khoảng cách từ dưới lên */
    right: 10px; /* Điều chỉnh khoảng cách từ bên phải qua */
  }
}
/* .perfume-section {
  margin-top: 20px;
}

.perfume-image {
  width: 100%;
  max-width: 750px;
  max-height: 1000px;
  object-fit: cover;
}

.perfume-text {
  font-size: 24px; 
  line-height: 1.5; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.perfume-text h1, .perfume-text h3 {
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .perfume-text {
    padding-top: 20px; 
  }
}

@media (min-width: 768px) {
  .perfume-text {
    padding-top: 0;
    padding-left: 20px; 
  }
} */
